@CHARSET "ISO-8859-1";

#headerTitle {
	float: left;
}

#headerTitle {
	font-family: sans-serif;
	font-size: 30px;
	color: white;
	font-weight: 1.5em;
	font: bold;
	position: relative;
	float: left;
}

#linksHeader {
	font-family: cursive;
	font-size: 20px;
	color: white;
	position: relative;
	float: right;
	width: 30%;
}

#linksHeader tr {
	position: relative;
	width: 25%;
}

#idNameHeader {
	font-family: cursive;
	font-size: 20px;
	color: white;
	position: relative;
	float: left;
	width: 70%;
}

#linkSalir {
	font-family: cursive;
	font-size: 20px;
	color: white;
	position: relative;
	float: right;
	width: 20%;
}
