@CHARSET "ISO-8859-1";

body,html {
	height:100%;
	font-size: 12px;
	font-family: Arial,sans-serif;
	background: no-repeat center center fixed;
/* 	background-image: url('http://editwallpaper.com/wp-content/uploads/2015/04/Unique-Green-Wallpaper-Picture-High-Quality.jpg'); */
}

body {

}

#content {
	clear: both;
	margin: auto;
	width: 90%;
	height: 100%;
	min-height: 500px;
}

#center {
	float: left;
	width: 67%;
	height: 96%;
	background-color: #e1e1e1;
	opacity: 0.9; 
	position: relative;
	overflow: visible;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#right {
	float: right;
	width: 21%;
	height: 96%;
	position: relative;
	background-color: #e1e1e1;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#footer {
/* 	float: left; */
	clear: both;
	width: 82%;
	height: 8%;
	margin: auto;
/* 	position: relative; */
	background-color: #e9e9e9;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 5px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#header {
	clear: both;
/* 	float: left; */
	width: 82%;
	height: 8%;
	margin: auto;
/* 	position: relative; */
	background-color: #d3d3d3;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-top: 5px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#menuBar {
	clear: both;
/* 	float: left; */
	width: 82%;
	height: 8%;
	margin: auto;
/* 	position: relative; */
	background-color: #d3d3d3;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-top: 5px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#linkStoreDetail {
	float: left;
	width: 25%;
	height: 90%;
	position: relative;
}

#linkStoreMoves {
	float: left;
	width: 25%;
	height: 90%;
	position: relative;
}

#linkStoreBuyLists {
	float: left;
	width: 25%;
	height: 90%;
	position: relative;
}


/* #menuBarPanel { */
/* 	width: 100%; */
/* 	height: 90%; */
/* 	position: relative; */
/* } */

.title1 {
	font-size: 24px;	
}


.title2 {
	font-size: 18px;	
}

