@CHARSET "ISO-8859-1";

body,html {
	height:100%;
	font-size: 12px;
}

body {
	background-color: red;
}

#content {
	clear: both;
	margin: auto;
	width: 90%;
	height: 100%;
	min-height: 500px;
}

#center {
	float: left;
	width: 67%;
	height: 96%;
	background-color: #ffffaa;
	position: relative;
	overflow: visible;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#right {
	float: right;
	width: 21%;
	height: 96%;
	position: relative;
	background-color: #ff9d9d;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#footer {
/* 	float: left; */
	clear: both;
	width: 82%;
	height: 8%;
	margin: auto;
/* 	position: relative; */
	background-color: #f2aaf2;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 5px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#header {
	clear: both;
/* 	float: left; */
	width: 82%;
	height: 8%;
	margin: auto;
/* 	position: relative; */
	background-color: #a8f4c7;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin-top: 5px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}
