@CHARSET "ISO-8859-1";

body, html {
	background-color: #969696;
	width: 100%;
	height: 100%;
}

#container {
	margin: auto;
	position: relative;
	width:400px;
	height:400px;
	top: 50px;
}

#header-container {
	position: relative;
	height: 10%;
	text-align: center;
}

#login-container {
	background-color: #e1e1e1;
	position: relative;
	height: 50%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

#email-container {
	position: relative;
	height: 30%;
}

#password-container {
	position: relative;
	height: 30%;
}

#message-container {
	position: relative;
	height: 10%;
}

#sign-in-container {
	position: relative;
	height: 30%;
}

#facebook-container {
	background-color: #D6D6D6;
	position: relative;
	height: 20%;
	text-align: center;	
}

#login-facebook-button {
	top: 20px;
}

#register-container {
	background-color: #D6D6D6;
	position: relative;
	height: 20%;
	text-align: center;	
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}



.loginBTN {
	 background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png') no-repeat 5px 5px #484B4F;
	  width: 120px;
	  cursor:pointer;
	  border-radius:50px;
	  padding:10px 20px 10px 0;
	  color:White;
	  font-size:12px;
	  text-align:left;
	  text-indent:40px;
	  display:block;
	  margin:0 auto;
	  /* Animations: */
	  -webkit-transition-timing-function: ease-in-out;
	  -webkit-transition-duration: .4s;
	  -webkit-transition-property: all;
	  -moz-transition-timing-function: ease-in-out;
	  -moz-transition-duration: .4s;
	  -moz-transition-property: all;
}

.loginBTN:hover {
	  background-image: url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png');
	  background-position: 75px 5px;
	  text-indent: 20px;  
}
			
.PassInput { 
		border-color:#cccccc; 
		padding:6px; 
		font-size:17px;
		width: 200px;
		text-align:center; 
		border-width:3px;
		border-radius:16px;
		border-style:solid; 
		text-shadow:0px 1px 2px rgba(42,42,42,.75);
		font-style:none; font-family:fantasy; 
} 
.PassInput:focus { outline:none; }
						
.btnRegister {
	background: #484B4F;
	 width: 120px;
	 cursor:pointer;
	 border-radius:50px;
	 padding:10px 10px 10px 10px;
	 color:White;
	 font-size:12px;
	 text-align:center;
	 text-indent:0px;
	 display:block;
	 margin:0 auto;
	 /* Animations: */
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: .4s;
	-webkit-transition-property: all;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: .4s;
	-moz-transition-property: all;
}

.btnRegister:hover {
 	font-weight: bold;
}

