.categPanel {
	float: left;
	width: 20%;
	height: 100%;
/* 	background-color: #e1e1e1; */
	opacity: 0.9; 
	position: relative;
	overflow: visible;
	min-height: 150px;
}

#availableProductsField {
	float: right;
	position: relative;
	width: 38%;
/* 	height: 50%; */
	min-height: 150px;
}

#selectedProductsField {
	float: right;
	position: relative;
	width: 38%;
/* 	height: 50%; */
	margin-top: 0% !important;
	min-height: 150px;
}