@CHARSET "ISO-8859-1";

.ui-datatable table {
	text-align: center;
	background-color: transparent;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

#nameStoreId {
	font-size: 40px;
	color: white;
	font-family: sans-serif;
}

#panelButtons{
	float: right;
	margin-bottom: 2%;
}

#buttonCreateBuyList {
	float: right;
	position: relative;
}

#buttonCreateCategory {
	float: right;
	position: relative;
}

#buttonCreateProduct {
	float: right;
	position: relative;
}

#listProducts{
	clear: both;
}

